
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

section {
  height: 100vh;
  padding: 20px;
  text-align: center;
}

#home { background-color: #f4f4f4; }
#about { background-color: #e2f7e2; }
#services { background-color: #d4e4f7; }
#contact { background-color: #f7d7d7; }


nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

nav.scrolled {
  background-color: #333;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

nav ul {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin: 0;
  list-style: none;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.2em;
  color: #333;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #007bff;
}

nav.scrolled ul li a {
  color: white;
}

nav.scrolled ul li a:hover {
  color: #00d9ff;
}
